* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  height: 100vh;
}

/* SPLASHSCREEN */
.splash {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.splash h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 100px;
  margin-top: -50px;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
}
.splash h2.frame-1 {
  animation-delay: 0s;
}
.splash h2.frame-2 {
  animation-delay: 2.5s;
}
.splash h2.frame-3 {
  animation-delay: 5s;
}

@keyframes blurFadeInOut{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(0.9);
  }
  20%,75%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInBack{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 0.4;
    transform: scale(2);
  }
  100%{
    opacity: 0.2;
    transform: scale(5);
  }
}

/* NAVBAR */
.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-weight: 900;
  color: red;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.navbar a:hover {
  background-color: red;
  color: white;
}

.navbar a.active {
  background-color: red;
  color: white;
}

.navbar .search-container {
  float: right;
}

/* SEARCHBOX */
.pokeball{
  max-height: 1.5rem;
  max-width: 1.5rem;
}

.searchBox {
  position: absolute;
  top: -1.1rem;
  left: 85%;
  transform:  translate(-50%,50%);
  background: rgb(85, 91, 87);
  height: 2rem;
  border-radius: 3rem;
  padding: .6rem;
}

.searchBox:hover > .searchInput {
  width: 9rem;
  padding: 0rem .4rem;
}

.searchBox > .searchButton{
  background: white;
}

.searchBox:hover > .searchButton {
  background: red;
  color : #6c7b8f;
}

.searchButton {
  color: white;
  float: right;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 2rem;
  width: 0rem;
}

/* HOME */
.container{
  display: grid;
  gap: .1rem .1rem;
  grid-template-columns: auto auto auto;
  padding: .2rem;
  margin-top: 1rem;
}

.card-img {
  height: 10rem;
  margin-top: 1.5rem;
}

.card-text {
  font-weight: 900;
  color: red;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.pkmn-card {
  border-radius: .8rem;
  padding: 1rem;
  border: none;
  position: relative;
  margin: .7rem;
  text-align: center;
  background:
    linear-gradient(red 0 0) top    /100% var(--d, 0%) no-repeat,
    linear-gradient(white 0 0) bottom /100% var(--d, 0%) no-repeat,
    linear-gradient(to right, rgb(109, 120, 112), rgb(85, 91, 87));
  transition: 0.5s;
}

.pkmn-card:hover {
  --d: 50%;
  border: solid .4rem black;
}

/* FOOTER & PAGINATION */
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.3rem;
}

#footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  background: linear-gradient(to right, red,rgb(214, 66, 66));
}

#secondary-footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  margin-bottom: 3.5rem;
}

/* PAGINATION */

.page-item {
  margin: 0 1rem;
  text-decoration: none;
  list-style: none;
  color: black;
}

.active{
  background-color: red;
  color: white;
}

.page-link{
  padding: 1rem 1rem;
  text-decoration: none;
  font-weight: 900;
  background:
    linear-gradient(red 0 0) top    /100% var(--d, 0%) no-repeat;
}

.page-link:hover{
  background: red;
  color: white;
  border: .1rem solid black;
}

/* DETAIL */
.detail{
  font-family: arial;
  font-size: 1rem;
  margin: 3rem;
  width: 95%;
  height: 100%;
  /* Setup */
  position: relative;
}

.detail-img{
  margin-right: 2rem;
  margin-left: -6rem;
}

.detail > div{
  display: flex;
  justify-content: space-around;
}

.basic-info{
  display: flex;
  margin-top: 12rem;
  margin-right: 1rem;
  margin-bottom: 8rem;
}

.basic-info > small{
  text-transform: capitalize;
  margin-right: 2rem;
  font-size: x-large;
  color: red;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.basic-info > small > p{
  color: black;
}

.detail-info{
  font-family: arial;
  font-size: 1rem;
  width: 98%;
  height: 100%;
  /* Setup */
  position: relative;
}

.detail-info > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail-types,
.detail-abilities{
  display: flex;
  padding-right: 3rem;
  margin-top: 12rem;
  text-transform: capitalize;
  font-size: x-large;
  color: red;
  height: 100%;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.detail-abilities > div{
  margin-bottom: 2rem;
}

.pkmn-name{
  text-transform: capitalize;
  padding: .1rem;
  font-size: x-large;
  color: red;
  height: 100%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hidden-ability,
.second-type
{
  font-size: large;
  color: black;
}

.detail-stats{
  text-transform: capitalize;
  margin-right: 3rem;
  font-size: x-large;
  color: red;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.stat-value{
  color: black;
}

.status-bar{
  background: green;
  height: .3rem;
  border-radius: 1rem;
}


